@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  font-family: SF Pro Display, SF Pro Icons, Helvetica, Helvetica Neue, Arial,
    sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}
